[Unit]
Description=DAB multiplexing and modulation
After=networking.service

[Service]
Type=simple
ExecStart=%h/ohjelmat/radiohami_tools/bin/dab_broadcast
Restart=always
RestartSec=10s
AmbientCapabilities=CAP_SYS_NICE

[Install]
WantedBy=default.target
