[Unit]
Description=DAB audio encoding for %i
After=pipewire.service
Requires=pipewire.service
After=dabmux.service
Requires=dabmux.service

[Service]
Type=simple
EnvironmentFile=%h/radiohami/dab/%I.conf
ExecStart=%Y/../bin/odr-audioenc-helper
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
