[Unit]
Description=Internet radio streaming for %i
After=pipewire.service
Requires=pipewire.service

[Service]
Type=simple
EnvironmentFile=%h/radiohami/stream/%I.conf
ExecStart=%Y/../bin/stream
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
